!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link href="/styles/app.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <title><%= userRef.fName %> <%= userRef.lName %> Developer</title>
  </head>
  <body>
    <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="ui icon users"></i>Central Valley Developers</div>
                <a href="/" class="item">Home</a>
                <a href="/users/login" class="item">Login-Sign Up</a>
                <a href="/showAll" class="item">Developers</a>
                <form  id="logoutMenu" method="POST" action="/logout">
                  <button class="ui button item" id="logoutBtn"  class="item" type="submit"><a class="item">Logout</a></button>
                </form>
                <div class="item right menu" id="userNameMenu">
                  <div class="ui  selection dropdown userMenuStyles">
                    <i class="dropdown icon"></i>
                    <div class="ui default text"><%= userRef.fName %> <%= userRef.lName %></div>
                    <div class="menu userMenuStyles">
                      <a href="/userEdit/<%= userRef._id %>" class="item dropdownText userMenuStyles" data-value="1">Edit</a>
                      <a class="item dropdownText userMenuStyles" data-value="0">Resources</a>
                    </div>
                  </div>
                </div>
            </div>
    </div>
