<% include partials/userHeader %>
<div class="ui middle aligned stackable grid container">
<div class="ui card four wide column" id="infoCard">
<div class="image">
  <img src="<%= userRef.imageRef %>">
</div>
<div class="content">
  <a class="header"><%= userRef.fName %> <%= userRef.lName %> </a>
  <div class="meta">
    <span class="date">Joined in 2013</span>
  </div>
  <div class="description">
    <%= userRef.currentOccupation %>
  </div>
</div>
<div class="extra content">
  <a>
    <i class="user icon"></i>
    6 Projects
  </a>
</div>
</div>
<div class="eight wide column">
  <div class="ui header large">
    Description
  </div>
  <div class=" ui text">
    <%= userRef.description %>
  </div>
</div>
<div class="row">
  <div class="large ui buttons center aligned column" id="userCallout">
    <a href="/showUser/<%= userRef._id %>/projects/new"><button class="ui button">Add a Project</button></a>
    <a href="/showUser/<%= userRef._id %>/userBlog/new"><button class="ui button">Add a Blog Post</button></a>
  </div>
</div>

  <div class="ui row">
  <div id="workExamples" class="ui cards">
    <% userRef.projects.forEach(function(project) { %>
    <div class="ui card">
    <div class="content">
      <div class="right floated meta">14h</div>
      <img class="ui avatar image" src="<%= userRef.imageRef %>"> <%= userRef.fName %>
      <div class="ui text center"><%= project.projTitle %></div>
    </div>
    <div class="image">
      <img src="<%= project.projImageRef %>">
    </div>
    <div class="content">
      <span class="right floated">
        <i class="heart outline like icon"></i>
        17 likes
      </span>
      <i class="comment icon"></i>
      3 comments
    </div>
    <div class="extra content">
      <div class="ui large transparent left icon input">
        <i class="heart outline icon"></i>
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
  </div>
<% }); %>
</div>

</div>


<% include partials/foot %>
